.cropper-container {
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
  -ms-touch-action: none;
  touch-action: none;
}

.cropper-container img {
  display: block;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
  image-orientation: 0deg;
}

.cropper-canvas, .cropper-crop-box, .cropper-drag-box, .cropper-modal, .cropper-wrap-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-wrap-box {
  overflow: hidden;
}

.cropper-drag-box {
  opacity: 0;
  background-color: #fff;
}

.cropper-modal {
  opacity: .5;
  background-color: #000;
}

.cropper-view-box {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}

.cropper-dashed {
  position: absolute;
  display: block;
  opacity: .5;
  border: 0 dashed #eee;
}

.cropper-dashed.dashed-h {
  top: 33.33333%;
  left: 0;
  width: 100%;
  height: 33.33333%;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333%;
  width: 33.33333%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px;
}

.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  opacity: .75;
}

.cropper-center:after, .cropper-center:before {
  position: absolute;
  display: block;
  content: " ";
  background-color: #eee;
}

.cropper-center:before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px;
}

.cropper-center:after {
  top: -3px;
  left: 0;
  width: 1px;
  height: 7px;
}

.cropper-face, .cropper-line, .cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .1;
}

.cropper-face {
  top: 0;
  left: 0;
  background-color: #fff;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize;
}

.cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize;
}

.cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize;
}

.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize;
}

.cropper-point {
  width: 5px;
  height: 5px;
  opacity: .75;
  background-color: #39f;
}

.cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize;
}

.cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}

.cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}

.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize;
}

.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}

.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}

.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}

.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  opacity: 1;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;
    opacity: .75;
  }
}

.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: " ";
  opacity: 0;
  background-color: #39f;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box, .cropper-disabled .cropper-face, .cropper-disabled .cropper-line, .cropper-disabled .cropper-point {
  cursor: not-allowed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/subset-MyriadPro-Black.eot");
  src: url("../fonts/subset-MyriadPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-MyriadPro-Black.woff2") format("woff2"), url("../fonts/subset-MyriadPro-Black.woff") format("woff"), url("../fonts/subset-MyriadPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("subset-MyriadPro-Semibold.eot");
  src: url("subset-MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("subset-MyriadPro-Semibold.woff2") format("woff2"), url("subset-MyriadPro-Semibold.woff") format("woff"), url("subset-MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("subset-MyriadPro-Regular.eot");
  src: url("subset-MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("subset-MyriadPro-Regular.woff2") format("woff2"), url("subset-MyriadPro-Regular.woff") format("woff"), url("subset-MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  /* This rule is very important, please do not ignore this! */
  max-height: 378px;
}

.overlay {
  z-index: 80;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#blah {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 200;
}

#blah_overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
  z-index: 100;
  display: none;
}

.modal {
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -378px;
  width: 756px;
  height: 384px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 100;
  display: none;
}

@media only screen and (max-width: 809px) {
  .modal {
    width: 80%;
    left: 0;
    margin: 0 10%;
    height: 412px;
    top: 3%;
  }
}

.modal--link__instagram {
  display: none;
  width: 177px;
  height: 32px;
  position: absolute;
  bottom: 26px;
  left: 101px;
}

@media only screen and (max-width: 809px) {
  .modal--link__instagram {
    display: block;
  }
}

.modal--container {
  width: 754px;
  height: 382px;
  margin: 1px;
  background: #000000;
  border-radius: 5px;
}

@media only screen and (max-width: 809px) {
  .modal--container {
    width: 99.1%;
    height: 410px;
  }
}

.modal--mobTitle {
  font-size: 20px;
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Myriad Pro';
  margin-bottom: 30px;
  padding-top: 15px;
}

.modal--entry {
  width: 49.5%;
  height: 80%;
  float: left;
  border-right: 1px solid #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 809px) {
  .modal--entry {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 5px;
  }
}

.modal--entry__instagram {
  background: url(../images/instagram_text.png) no-repeat top center;
}

@media only screen and (max-width: 809px) {
  .modal--entry__instagram {
    background: url(../images/instagram_text_mobile.png) no-repeat top center;
    width: 98%;
    margin: 10px auto;
  }
}

.modal--entry__facebook {
  background: url(../images/facebook_text.png) no-repeat top center;
}

@media only screen and (max-width: 809px) {
  .modal--entry__facebook {
    margin: 10px auto;
  }
}

.modal--entry:last-child {
  border-right: 0;
}

.modal--choose {
  width: 100%;
  height: 380px;
  background: #000000;
  border-radius: 5px;
  display: none;
}

@media only screen and (max-width: 809px) {
  .modal--choose {
    display: block;
  }
}

.modal--choise {
  width: 393px;
  height: 70px;
  cursor: pointer;
}

@media only screen and (max-width: 809px) {
  .modal--choise {
    width: 90%;
    margin: 0 5% 20px;
    background-size: contain;
  }
}

@media only screen and (max-width: 405px) {
  .modal--choise {
    margin: 0 5%;
  }
}

.modal--choise__instagram {
  background: url(../images/instagram_button.png) no-repeat top center;
  background-size: contain;
}

.modal--choise__facebook {
  background: url(../images/facebook_button.png) no-repeat top center;
  background-size: contain;
}

.modal .imageInputContainer {
  width: 150px;
  height: 170px;
  overflow: hidden;
  margin: 78px auto 0;
  cursor: pointer;
  position: relative;
}

.modal .uploadImage {
  display: block;
  overflow: hidden;
  background: url(../images/facebook_text.png) no-repeat top center;
  width: 150px;
  height: 239px;
  margin-top: -81px;
}

.modal .continueUpload {
  background: url(../images/button_bg.png) no-repeat center center;
  border: 0;
  width: 305px;
  height: 53px;
  font-size: 20px;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-family: 'Myriad Pro';
  display: none;
  outline: 0;
}

@media only screen and (max-width: 809px) {
  .modal .continueUpload {
    width: 80%;
  }
}

.modal .back {
  width: 24px;
  height: 24px;
  display: none;
  background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im04OC42LDEyMS4zYzAuOCwwLjggMS44LDEuMiAyLjksMS4yczIuMS0wLjQgMi45LTEuMmMxLjYtMS42IDEuNi00LjIgMC01LjhsLTUxLTUxIDUxLTUxYzEuNi0xLjYgMS42LTQuMiAwLTUuOHMtNC4yLTEuNi01LjgsMGwtNTQsNTMuOWMtMS42LDEuNi0xLjYsNC4yIDAsNS44bDU0LDUzLjl6IiBmaWxsPSIjRkZGRkZGIi8+CiAgPC9nPgo8L3N2Zz4K");
  position: absolute;
  bottom: 10px;
  left: 5px;
}

#uploadClick, #fb-login-button {
  display: none;
}

@media only screen and (max-width: 809px) {
  #uploadClick, #fb-login-button {
    top: auto;
    bottom: 10px;
    right: auto;
    left: 50%;
    margin-left: -150px;
  }
}

.app--uploadbutton {
  color: white;
  font-family: 'Myriad Pro';
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  display: block;
  width: 305px;
  height: 53px;
  background: url(../images/button_bg.png) no-repeat center center;
  text-align: center;
  line-height: 53px;
  margin-top: -20px;
  cursor: pointer;
}

.app--uploadtext {
  color: white;
  font-size: 30px;
  line-height: 53px;
  text-transform: uppercase;
}

.app--winnerText {
  color: white;
  font-family: 'Myriad Pro';
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.app--container {
  width: 810px;
  margin: 0 auto;
}

@media only screen and (max-width: 809px) {
  .app--container {
    width: 100%;
  }
}

.app--content {
  width: 810px;
}

@media only screen and (max-width: 809px) {
  .app--content {
    width: 100%;
  }
}

.app--content__rules {
  width: 810px;
  background: url(../images/rules_bg.png) no-repeat center center #171315;
  padding: 40px 0;
}

@media only screen and (max-width: 809px) {
  .app--content__rules {
    width: 100%;
    background: #171315;
  }
}

.app--rulesEntry {
  width: 50%;
  height: 580px;
  float: left;
}

@media only screen and (max-width: 809px) {
  .app--rulesEntry {
    width: 100%;
  }
}

.app--rulesEntry__rule1 {
  background: url(../images/rules_1.png) no-repeat 70% 50%;
}

@media only screen and (max-width: 809px) {
  .app--rulesEntry__rule1 {
    background-position: 50% 50%;
  }
}

.app--rulesEntry__rule2 {
  background: url(../images/rules_2.png) no-repeat 30% 50%;
}

@media only screen and (max-width: 809px) {
  .app--rulesEntry__rule2 {
    background-position: 50% 50%;
  }
}

.app--rulesEntry__rule3 {
  background: url(../images/rules_3.png) no-repeat 70% 50%;
}

@media only screen and (max-width: 809px) {
  .app--rulesEntry__rule3 {
    background-position: 50% 50%;
  }
}

.app--rulesEntry__rule4 {
  background: url(../images/rules_4.png) no-repeat 30% 50%;
}

@media only screen and (max-width: 809px) {
  .app--rulesEntry__rule4 {
    background-position: 50% 50%;
  }
}

.app--split {
  width: 810px;
  height: 154px;
  background: url(../images/bg_gradient.png) center center;
  position: relative;
}

@media only screen and (max-width: 809px) {
  .app--split {
    width: 100%;
    height: 200px;
  }
}

.app--title {
  font-family: 'Myriad Pro';
  font-size: 36px;
  font-weight: 900;
  color: white;
  padding-top: 50px;
  padding-left: 30px;
  margin: 0;
}

@media only screen and (max-width: 620px) {
  .app--title {
    padding-top: 30px;
  }
}

.app--subtitle {
  font-family: 'Myriad Pro';
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding-left: 30px;
  margin: 0;
}

.app--footer {
  width: 810px;
  background: #171315;
  height: 72px;
}

@media only screen and (max-width: 809px) {
  .app--footer {
    width: 100%;
    height: 40px;
  }
}

.app--copyright {
  font-family: 'Myriad Pro';
  font-size: 14px;
  font-weight: normal;
  color: #fffefe;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}

@media only screen and (max-width: 809px) {
  .app--copyright {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.app--agency {
  font-family: 'Myriad Pro';
  font-size: 14px;
  font-weight: normal;
  color: #fffefe;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

.app--agency a {
  text-decoration: none;
  color: #fffefe;
}

@media only screen and (max-width: 809px) {
  .app--agency {
    margin-top: 10px;
    margin-right: 10px;
  }
}

.imagesContainer {
  width: 100%;
  position: relative;
  background: #171315;
}

.imagesContainer--image {
  width: 405px;
  height: 405px;
  float: left;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 809px) {
  .imagesContainer--image {
    width: 50%;
  }
}

@media only screen and (max-width: 620px) {
  .imagesContainer--image {
    width: 405px;
    margin: 0 auto;
    float: none;
  }
}

@media only screen and (max-width: 405px) {
  .imagesContainer--image {
    width: 100%;
  }
}

.imagesContainer--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 100;
}

.imagesContainer--overlay__hidden {
  display: none;
}

.imagesContainer--overlaycount {
  font-family: 'Myriad Pro';
  font-weight: 900;
  font-size: 72px;
  color: white;
  display: block;
  position: absolute;
  top: 45%;
  margin-top: -31px;
  right: 45%;
}

.imagesContainer--overlaytext {
  font-family: 'Myriad Pro';
  font-weight: 900;
  font-size: 24px;
  color: white;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 36%;
}

.imagesContainer--overlaycountlike {
  width: 77px;
  height: 75px;
  background: url(../images/thumbs_up.png) no-repeat center center;
  position: absolute;
  right: 20%;
  top: 45%;
  margin-top: -42px;
}

.imagesContainer--like {
  width: 246px;
  height: 43px;
  background: url(../images/balsuok.png) no-repeat center center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -123px;
  cursor: pointer;
}

.imagesContainer--like__hidden {
  display: none;
}

.imagesContainer--count {
  font-family: 'Myriad Pro';
  font-weight: 900;
  font-size: 24px;
  color: white;
  float: right;
  margin-top: 10px;
  display: block;
  margin-right: 39px;
}

.header {
  width: 810px;
  height: 424px;
  position: relative;
  background: url(../images/banner.png) no-repeat center center;
}

@media only screen and (max-width: 809px) {
  .header {
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: url(../images/mobile_header.png) no-repeat center center;
    background-size: cover;
  }
}

@media only screen and (max-width: 620px) {
  .header {
    padding-top: 110%;
  }
}

.header--button {
  position: absolute;
  width: 305px;
  height: 53px;
  display: block;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  background: url(../images/button_bg.png) no-repeat center center;
  text-decoration: none;
}

@media only screen and (max-width: 809px) {
  .header--button {
    right: 50%;
    margin-right: -156px;
    bottom: 40px;
  }
}

@media only screen and (max-width: 620px) {
  .header--button {
    bottom: 20px;
  }
}

.header--buttontext {
  font-family: 'Myriad Pro';
  font-weight: 900;
  font-size: 30px;
  line-height: 61px;
  color: white;
  text-transform: uppercase;
  padding-left: 60px;
}

.header--buttonem {
  background: url(../images/button_arrow.png) no-repeat center center;
  width: 16px;
  height: 33px;
  display: block;
  position: absolute;
  top: 50%;
  right: 15%;
  margin-top: -16px;
}
